body{
    background: url("../images/bg-home.jpg") center center no-repeat;
    -webkit-background-size:cover;
    background-size:cover;
    padding:0;
    margin:0;
}
a{
    text-decoration: none;
    color: #000;
}
#left_banner{
    position: fixed;
    left:0;
    top:80px;
}
#left_banner img{
    width:150px;
}
.i_body {
    width: 700px;
    margin: 100px auto;
    overflow: hidden;
}
.i_left{
    width:60%;
    float: left;
}
#i_video{
    background: rgba(1,1,1,.3);
}
.i_title{
    margin-top:10px;
    font-size: 18px;

}
.i_title a{
    position: relative;
    top: -6px;

}
.i_title img{
    width:100px;
}
.i_content{
    margin-top:10px;
    overflow: hidden;

}
.i_content_date{
    float: left;
    width:20%;
    height:60px;
    border-right:gray solid 1px;

}
.i_content_body{
    float: right;
    width:79%;
    font-size: 18px;
    line-height:29px;
}
footer{
    background: #feffff;
    position: absolute;
    bottom:0;
    height:30px;
    width:100%;
}