body{
    background: url("../images/photo/bg-photo.jpg") center center no-repeat;
    padding: 0;
    margin: 0;
}

.p_body {
    width: 800px;
    margin: 60px auto;
    overflow: hidden;
}

@media screen and (max-width: 1400px) {
    .l_body {
        width: 800px;
        margin: 20px auto;
        overflow: hidden;
    }
}

.p_left_block{
    width:50%;
    float: left;
}
.p_right_block{
    width:50%;
    float: right;
    margin-bottom:20px;
}
.p_left_block a{
    width:50%;
    float: left;
}
.p_left_block a img{
    width:100%;
}
.p_right_block a{
    width:50%;
    float: left;
}
.p_right_block a img{
    width:100%;
}
.p_body_bar>img{
    float: left;
    width:40%;
}
.i_body{
    width:70%;
    margin:20px auto;
}
.i_title{
    padding-bottom:6px;
    border-bottom:white solid 1px;
}
#photo_body{
    margin-top:20px;
    height:80%;
    overflow: hidden;
}
.photo_big{
    width:22.6%;
    padding:10px;
    float: left;
}
.photo_block{
    text-align: center;
    position: relative;
    width:100%;
    height: 240px;
    background: rgba(255,255,255,.3);
}
.photo_block img{
    vertical-align: middle;
    max-height:87%;
    margin: auto;
    max-width:100%;
}
.photo_block p{
    padding:7px 0;
    margin: 0;
    background: #ffffff;
    position: absolute;
    bottom:0;
    width:100%;
    color: #4e453c;
}
.author{
    font-size: 12px;
}
.pig_btn{
    background: rgba(255,255,255,.7);
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    border:0;
    padding:5px 10px;
    margin:4px 4px 30px 4px;
    cursor: pointer;
}
.pig{
    overflow: hidden;
}